body {
  background-attachment: fixed;
  background-image: url('../images/jack-white-lolla-600x398.jpg');
  background-size: cover;
  color: rgb(12, 33, 100);
  font-family: 'Epilogue';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 20px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Epilogue';
  font-style: normal;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
